body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.main-div-page {
  padding: 0 15px;
  margin: 20px 0px;
}

.search-btn {
  background-color: #27686a;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 15px;
  font-family: inherit;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.top-div-page {
  position: relative;
  color: #ffffff;

  > h1 {
    font-size: 48px;
  }
}

.top-div-page img {
  width: 100%;
  display: block;
}

.top-div-page h1,
.top-div-page span,
.top-div-page div {
  position: absolute;
  right: 20px;
}

.top-div-page h1 {
  top: 150px;
  margin: 0;
}

.top-div-page span {
  top: 240px;
  max-width: 400px;
}

.top-div-page div {
  top: 330px;
  right: 20px;
  position: absolute;
}

.top-div-page div input {
  width: 350px;
  height: 40px;
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  padding-left: 100px;
}

.div-Why-us {
  margin-top: 50px;
}

.div-best-site-home-page {
  display: flex;
  justify-content: space-between;
}

.container-best-site-home-page {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  > img {
    width: 45px;
  }
}

.div-baaner-home {
  margin-top: 100px;
  text-align: center;
}

.container-top-chosen {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > button {
    border: solid 1px #efefef;
    background-color: transparent;
    font-family: inherit;
    font-size: 15px;
    padding: 13px 20px;
    border-radius: 5px;
  }
}

.products-home-page{
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.div-Chosen-Advertisement {
  margin-top: 80px;
  height: 900px;
}

.right-content-top-chosen {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > h3 {
    margin: 0;
  }

  > span {
    color: #666666;
  }
}

.Chosen-Advertisement-Product {
  width: 300px;
}

.Chosen-Advertisement-Product img:first-child {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Chosen-Advertisement-Product img:nth-child(2) {
  display: none;
}

.container-info-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  
  > h4 {
    margin: 0;
    width: 60%;
    color: #27686A;
  }

  > div {
    display: flex;
    gap: 5px;
    color: #27686A;
  }

  > span:last-child {
    margin-top: 8px;
    color: #666666;
    font-size: 14px;
  }
}

.icon-prudocts{
    width: 20px;
    height: 20px;
    text-align: center;
    
}

.main-div-icon-prudocts {
    margin-top: 20px;
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        
        > span {
            font-size: 14px;
            color: #666666;
        }
    }
}