@font-face {
    font-family: "Modam";
    src: url("../font/ModamFaNum-Regular.ttf") format("truetype");
    font-weight: normal; /* برای فونت معمولی */
}

@font-face {
    font-family: "Modam";
    src: url("../font/ModamFaNum-Bold.ttf") format("truetype");
    font-weight: bold; /* برای فونت بولد */
}

body {
    direction: rtl;
    font-family: Modam;
}

.container-poshtiban {
    margin-top: 100px;
    margin-right: 15%;

    >span {
        font-weight: 800;
        font-size: 40px;
        color: #EFEFEF;
    }

    >p {
        width: 60%;
    }
}

.video-end-page {
    >img {
        width: 100%;
    }
}

.footer {
    height: 500px;

    >div {
        text-align: center;

        h6 {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.top-footer-container {
    margin-top: 50px;
    text-align: center;

    >p {
        font-size: 20px;
        font-weight: 700;
    }
}

.call-info-footer {
    text-align: center;

    >span {
        margin: 0px 4%;
        font-weight: 600;
        font-size: 15px;
    }
}

.page-select-footer {
    text-align: center;
    margin: 50px;

    >a {
        color: #808080;
        text-decoration: none;
        margin: 0px 20px;
        font-size: 14px;
        font-weight: 400;


    }

    >a:hover {
        color: RGB(39 104 106);
       
    }
}

.Symbols-footer {
    text-align: center;

    >img {
        margin: 0px 20px;
    }
}

.social-media-footer {
    text-align: center;
    margin-top: 50px;

    >img {
        margin: 0px 10px;
    }
}

.call-about {
    background-color: #090A09;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    >div {
        color: #EFEFEF;
    }
}

.container-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .call-about {
        height: 450px;
    }
}